# Terraform provider downloads
.terraform/
**/.terraform/

# Terraform state files
*.tfstate
*.tfstate.*

# Terraform executable and provider binaries
terraform.exe
terraform-provider-*.exe

# Sensitive variable files
terraform.tfvars
*.auto.tfvars

# Crash logs
crash.log
crash.*.log
modules-tf/.terraform/
modules-tf/*.tfstate
modules-tf/*.tfstate.*
